.breadcrumb {
	background-color: #ffffff;
	padding: 12px 0 16px 0;
	margin-bottom: 0;
}

.breadcrumb li a {
	font-size: 11px;
	text-decoration: underline;
	color: #d4070e;
}

.breadcrumb > .active {
	font-size: 11px;
	color: #333333;
}

.breadcrumb > li+li:before {
	color: #e1555a;
}
