/*.store-list {
    display: inline-block;
    max-width: 100%;
}

.store-list .select-store {
    width: 100%;
    font: 11px Tahoma, sans-serif;
    position: relative;
    box-sizing: border-box;
    color: #999;
}

.store-list .current-store-wrapper {
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    width: 100%;
    line-height: 28px;
    padding: 0 20px 0 10px;
    cursor: pointer;
    background: #fff;
    outline: none;
}*/
.current-store-wrapper{
    position: relative;
}
.store-list .current-store-wrapper.focused {
    box-shadow: 0 0 3px 1px #08a4ff;
    color: #5fb1e1;
    border-color: transparent;
    outline: none;
}

.select-store:focus{
    outline: none !important;    
}
.current-store-wrapper.focused:before{
    content: "Не выбран магазин";
    position: absolute;
    top: -35px;
    width: 100%;
    line-height: normal;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    background-color: #fd3131;
    padding: 5px 0;
    border-radius: 20px;
    text-align: center;
    border: 0;
    box-shadow: none;
}
.current-store-wrapper.focused:after{
    content: "";
    position: absolute;
    top: -8px;
    right: 23%;
    border: 8px solid transparent;
    border-top: 8px solid #fd3131;
    box-shadow: none;
}

.store-list .current-store {
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    color: rgba(40,47,54,0.4);
    padding: 8px 0 8px 15px;
    max-width:100px;
}

.store-list .current-store::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 12px;
    width: 10px;
    height: 10px;
    background-image: url(/local/templates/shtormauto/images/icons/i-arrow-bottom.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.store-list .store-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    box-sizing: border-box;
    border: 1px solid #2196f3;
    padding: 10px 0 10px;
    line-height: 11px;
    width: 100%;
    background: #fff;
    z-index: 1;
}

.store-list .select-store.open .current-store-wrapper {
    z-index: 4;
}

.store-list .select-store.open .store-options {
    display: block;
    z-index: 3;
}

.store-list .store-option {
    padding: 10px 10px 10px;
    cursor: pointer;
    line-height: 15px;
}

.store-list .store-option:last-child {
    padding-bottom: 0;
}

.store-list .store-option:hover {
    color: #fff;
    background-color: #2196f3; 
}
.store-list .current-store:focus {
    /* border: none; */
    /* box-shadow: none; */
    outline-color: #fff;
}