.filter{
	margin-top: 10px;
}
.smart-filter input.catalog-search-submit{
	width: 153px;
	height: 30px;
	background: url('images/button-find.png') top left no-repeat;
	border: none;
	cursor: pointer;
	margin: 0px 0 0 23px;
}
.smart-filter .propselect{
	width: 200px;
	margin-bottom: 10px;
	float: left;
}
