div.news-detail .img-wrap {
	margin: 0 0 6px 0;
	width: 460px;
	height: 280px;
}
div.news-detail .small-img-wrap {
	float: left;
	margin: 0 0 5px 6px;
}
.small-img-wrap:nth-child(4n+1) {
	margin-left: 0 !important;
	clear: both;
}
.news-date-time {
	color:#666666;
}
div.news-detail h1 {
	font-size: 16px;
	margin: 5px 0 15px 0;
	font-weight: normal;
}
.gallery {
	width: 460px;
	overflow: hidden;
	margin: 30px auto 0;
}
@media all and (max-width: 490px) {
.gallery {
	width: 100%;
}
div.news-detail .img-wrap {
	width: 100%;
	height: auto;
}
div.news-detail .img-wrap img {
	width: 100%;
	height: auto;
}
}
@media all and (max-width: 489px) {
div.news-detail .small-img-wrap {
	margin: 0 0 5px 5px !important;
}
.small-img-wrap:nth-child(4n+1) {
	margin: 0 0 5px 5px !important;
	clear: none;
}
}